<div class="mt-5"></div>
<% if @validator.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Oops!</strong>
    <% @validator.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
<%= render partial: 'form' %>

<% if @forecast_data %>
  <%= render partial: 'forecast' %>
<% end %>

<%= sprintf('%.3f', (Time.now.to_f - @start_time) ) %> seconds